*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #333;
    background: rgba(0, 0, 0, 0.7) url('background.jpg');
    height: 100vh;
    /* background-blend-mode:darken ; */
}
.skills{
    width: 700px;
    margin: 40px auto;
    color:white;
}
.skills li{
    margin: 20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 10 #2187e7b3;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: right;
    position: sticky;
    top: 0;
    cursor: pointer;

}
.nav-list{
    width: 40%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
    font-size: 20px;
    font-family: sans-serif;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color: black;
}
.bar span{
    height: 6px;
    float: left;
    background: #5df75d;
}
.html{
    width: 85%;
    animation: html 2s;
}
.CSS{
    width: 70%;
    animation: CSS 2s;
}
.DS{
    width: 70%;
    animation: DS 2s;
}
.JavaScript{
    width: 70%;
    animation: JavaScript 2s;
}
.CP{
    width: 80%;
    animation: CP 2s;
}
.CPP{
    width: 70%;
    animation: CPP 2s;
}
.Python{
    width: 70%;
    animation: Python 2s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes CSS{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes CP{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes DS{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes CPP{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes Python{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes JavaScript{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}