*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: right;
    position: sticky;
    top: 0;
    cursor: pointer;

}
.nav-list{
    width: 40%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
    font-size: 20px;
    font-family: sans-serif;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
     color: black; 

}
/* .rightNav{
    /* background-color: violet;
    width: 40%;
    text-align: right;
    padding: 0 23px;
} */
/* #search{
    padding: 5px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 50px;
    color: thistle;
} */
.background{
    background: rgba(0, 0, 0, 0.7) url('background.jpg');
    background-size: cover;
    background-blend-mode:darken ;
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    height: 50%;
    margin: auto;
}
.firstHalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{

    height: 30%;  
}
.secondHalf img{
    width: 70%;
    border: 2px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;

}
.text-big{
    font-size: 40px;

}
.text-small{

    font-size: 20px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 20px;
    background: none;
    color: cyan;
    cursor: pointer;

    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;

}
.btn:hover{
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
}
/* .btn-sm{
    padding: 7px 10px;
    margin: 7px 0;
    vertical-align: middle;
    border: 2px solid white;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    color: white;
} */

